In [2]:
import pandas as pd
data=pd.read_csv('C:\\Users\\RUPAK\\Desktop\\data science project\\IPL_Ball_by_Ball_2008_2022.csv')

In [69]:
data.head(10)

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
5,1312200,1,0,6,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
6,1312200,1,1,1,JC Buttler,Yash Dayal,YBK Jaiswal,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
7,1312200,1,1,2,JC Buttler,Yash Dayal,YBK Jaiswal,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
8,1312200,1,1,3,JC Buttler,Yash Dayal,YBK Jaiswal,NaN,4,0,4,0,0,NaN,NaN,NaN,Rajasthan Royals
9,1312200,1,1,4,JC Buttler,Yash Dayal,YBK Jaiswal,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals

In [72]:
data['is_six']= data['batsman_run'].apply(lambda x: True if x == 6 else False)
data['is_four']= data['batsman_run'].apply(lambda x: True if x == 4 else False)
data['is_three']= data['batsman_run'].apply(lambda x: True if x == 3 else False)
data['is_two']= data['batsman_run'].apply(lambda x: True if x == 3 else False)
data['is_one']= data['batsman_run'].apply(lambda x: True if x == 2 else False)

batsman
A Ashish Reddy     280
A Chandila           4
A Chopra            53
A Choudhary         25
A Dananjaya          4
                  ...
YV Takawale        192
Yashpal Singh       47
Younis Khan          3
Yuvraj Singh      2765
Z Khan             117
Name: batsman_runs, Length: 516, dtype: int64

In [74]:
grp=data.groupby("batter")
grp.sum()

C:\Users\RUPAK\AppData\Local\Temp\ipykernel_4820\2021147290.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grp.sum()

,ID,innings,overs,ballnumber,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,is_six,is_four,is_three,is_two,is_one
batter,,,,,,,,,,,,,,
A Ashish Reddy,137869458,277,3116,720,280,8,288,0,15,15,16,1,1,20
A Badoni,181265733,189,1922,505,161,12,173,0,9,7,11,0,0,11
A Chandila,4136511,7,125,23,4,0,4,0,1,0,0,0,0,0
A Chopra,26324575,78,392,273,53,5,58,0,5,0,7,0,0,2
A Choudhary,21652432,28,351,71,25,0,25,0,2,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yash Dayal,1304081,1,19,6,0,0,0,0,1,0,0,0,0,0
Yashpal Singh,26278255,113,511,250,47,2,49,0,4,0,5,1,1,2
Younis Khan,2352133,14,14,25,3,0,3,0,1,0,0,0,0,0
Yuvraj Singh,1479111979,3287,25077,8162,2754,130,2884,0,109,149,218,3,3,119
Z Khan,77494251,226,2282,525,117,4,121,0,15,2,11,0,0,7

In [76]:
data_2=pd.read_csv('C:\\Users\\RUPAK\\Desktop\\data science project\\IPL_Matches_2008_2022.csv')
data_2

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,335986,Kolkata,2008-04-20,2007/08,4,Kolkata Knight Riders,Deccan Chargers,Eden Gardens,Deccan Chargers,bat,N,Kolkata Knight Riders,Wickets,5.0,NaN,DJ Hussey,"['WP Saha', 'BB McCullum', 'RT Ponting', 'SC G...","['AC Gilchrist', 'Y Venugopal Rao', 'VVS Laxma...",BF Bowden,K Hariharan
946,335985,Mumbai,2008-04-20,2007/08,5,Mumbai Indians,Royal Challengers Bangalore,Wankhede Stadium,Mumbai Indians,bat,N,Royal Challengers Bangalore,Wickets,5.0,NaN,MV Boucher,"['L Ronchi', 'ST Jayasuriya', 'DJ Thornely', '...","['S Chanderpaul', 'R Dravid', 'LRPL Taylor', '...",SJ Davis,DJ Harper
947,335984,Delhi,2008-04-19,2007/08,3,Delhi Daredevils,Rajasthan Royals,Feroz Shah Kotla,Rajasthan Royals,bat,N,Delhi Daredevils,Wickets,9.0,NaN,MF Maharoof,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'MK Tiwa...","['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif'...",Aleem Dar,GA Pratapkumar
948,335983,Chandigarh,2008-04-19,2007/08,2,Kings XI Punjab,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,bat,N,Chennai Super Kings,Runs,33.0,NaN,MEK Hussey,"['K Goel', 'JR Hopes', 'KC Sangakkara', 'Yuvra...","['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dh...",MR Benson,SL Shastri
949,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,N,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen

In [84]:
s1=data_2.Player_of_Match
s1.value_counts()['HH Pandya']

8

In [5]:
data_3=pd.read_csv('C:\\Users\\RUPAK\\Desktop\\data science project\\alldatabowling.csv')
data_3

,Unnamed: 0,Name,Over,Maidens,Runs_Conceded,Wickets,Dots
0,0,Shakib Al Hasan,96.5,0,769,20,177
1,1,Shivam Mavi,86.1,2,715,25,218
2,2,Lockie Ferguson,79.5,1,648,24,197
3,3,Varun Chakravarthy,123.0,0,839,36,268
4,4,Sunil Narine,258.2,1,1889,58,564
...,...,...,...,...,...,...,...
209,209,Rahul Tripathi,1.0,0,12,0,0
210,210,Ankit Soni,18.1,0,144,2,38
211,211,Irfan Pathan,2.0,0,26,0,4
212,212,Marlon Samuels,3.0,0,34,0,5
213,213,Matt Henry,5.0,0,71,1,7

In [24]:
cond=data_3[data_3.Name=="Shivam Mavi"]
str(cond.Runs_Conceded)

'1    715\nName: Runs_Conceded, dtype: int64'

In [34]:
data_3["economy rate"]=data_3['Runs_Conceded']/data_3['Over']
mean_eco=data_3['economy rate'].mean()
data_3["average"]=data_3['Runs_Conceded']/data_3['Wickets']
data_3["strike rate"]=((data_3['Over'])*6)/data_3['Wickets']
data_3

,Unnamed: 0,Name,Over,Maidens,Runs_Conceded,Wickets,Dots,sum,economy rate,average,strike rate
0,0,Shakib Al Hasan,96.5,0,769,20,177,7.968912,7.968912,38.450000,28.950000
1,1,Shivam Mavi,86.1,2,715,25,218,8.304297,8.304297,28.600000,20.664000
2,2,Lockie Ferguson,79.5,1,648,24,197,8.150943,8.150943,27.000000,19.875000
3,3,Varun Chakravarthy,123.0,0,839,36,268,6.821138,6.821138,23.305556,20.500000
4,4,Sunil Narine,258.2,1,1889,58,564,7.316034,7.316034,32.568966,26.710345
...,...,...,...,...,...,...,...,...,...,...,...
209,209,Rahul Tripathi,1.0,0,12,0,0,12.000000,12.000000,inf,inf
210,210,Ankit Soni,18.1,0,144,2,38,7.955801,7.955801,72.000000,54.300000
211,211,Irfan Pathan,2.0,0,26,0,4,13.000000,13.000000,inf,inf
212,212,Marlon Samuels,3.0,0,34,0,5,11.333333,11.333333,inf,inf
213,213,Matt Henry,5.0,0,71,1,7,14.200000,14.200000,71.000000,30.000000